.ValueForSchedule {
    display: flex;
    gap: 18px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.ValueUniversityInfo_Spec {
    width: 238px;
    height: 28px;
    background-color: #7575756e;
    border: none;
    outline: none;
    color: black;
    border-radius: 44px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'e-Ukraine', sans-serif;
    font-weight: normal;
    margin: 0;
}

.ValueUniversityInfo_Course {
    width: 100px;
    height: 28px;
    background-color: #7575756e;
    border: none;
    outline: none;
    color: black;
    border-radius: 44px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'e-Ukraine', sans-serif;
    font-weight: normal;
}

.ValueUniversityInfo_Groups {
    width: 100px;
    height: 28px;
    background-color: #7575756e;
    border: none;
    outline: none;
    color: black;
    border-radius: 44px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'e-Ukraine', sans-serif;
    font-weight: normal;
}

.day-column {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 17px;
}

.schedule-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    justify-content: center;
}

.export-button {
    height: 28px;
    background-color: #7575756e;
    border: none;
    outline: none;
    color: black;
    border-radius: 44px;
    padding-left: 10px;
    font-family: 'e-Ukraine', sans-serif;
    font-weight: normal;
    cursor: pointer;
}

.lesson-card {
    background-color: white;
    padding: 10px;
    border-radius: 17px;
    margin-top: 20px;
}

.day_Name {
    font-size: 17px;
    font-family: 'e-Ukraine', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}

.Lesson_info_about {
    font-size: 15px;
    font-family: 'e-Ukraine', sans-serif;
    font-weight: 200;
    padding-bottom: 10px;
}

.Lesson_info_teach {
    font-size: 15px;
    font-family: 'e-Ukraine', sans-serif;
    font-weight: 200;
    padding-bottom: 10px;
}